.hero .herocont2{
    display: flex;
    padding-top: 60px;
    align-items: center;
    flex-direction: column;
    width: 85%;
}
.hero .herocont2 h3{
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 30px;
    align-self: self-start;
}
.hero .herocont2 ol{
    align-self: self-start;
    list-style: disc;
    font-size: 18px;
}
.hero .herocont2 ol ol{
    padding-left: 20px;
}
.step1{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #6c957d;
    width: 100%;
}
.step1 .step{
    text-align: center;
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid #1a4f30;
    
}
.step1 .example{
    text-align: center;
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 450px) {
    .step1{
        display: flex;
        flex-direction: column;
    }
    .step1 .step{
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid #1a4f30;
    }
    .step1 .example{
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero .herocont2{
        padding-top: 10px;
    }
}