.hero .herocont2{
    display: flex;
    padding-top: 60px;
    align-items: center;
    flex-direction: column;
    width: 85%;
}
.hero .herocont2 h3{
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 30px;
    align-self: self-start;
}
.hero .herocont2 ol{
    align-self: self-start;
    list-style: disc;
    font-size: 18px;
}
.hero .herocont2 ol ol{
    padding-left: 20px;
}
.step1{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #6c957d;
    width: 100%;
}
.steps .step{
    text-align: center;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.steps .example{
    text-align: center;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 450px) {
    .step1{
        display: flex;
        flex-direction: column;
    }
}